@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
body{
    font-family:Arial;
    background-image:url(IMG_4439.jpeg);
    background-size:cover;
    background-repeat:no-repeat; 
    background-position: right;
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    height:100vh;
  }
  .navbar{
    width: 100%;
    margin: 0 auto;
    background-color: #45464591;

}
.nav{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
}
.navbar .nav-link{
    color: rgb(192, 188, 188);
    text-decoration: none;

}
.navbar a:hover{
color:rgb(139, 139, 139);
}
.navbar ul{
    padding: 10px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
.navbar li{
    list-style-type:none;
    text-align: center;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
}

.img-container{
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.img-wrapper{
    text-align: center;
    width:100%;
    height: auto;
    object-fit: contain;
}

.active, .nav-item:hover{
    border-bottom:white;
    color:rgb(34, 34, 34);
    border-color:white;
}

#container{
    display: inline-grid;
    object-fit: contain;
    height: auto;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
}
.maintext{
    color:rgb(238, 231, 229);
    text-align: center;
    margin-top: 225px;
}
.shop-btn{
    z-index: 2;
    color:rgb(68, 67, 67);
    background:rgba(146, 145, 145);
    position:fixed;
    bottom:100px;
    left: 50%;
    transform: translateX(-50%);
    font-size:25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding:10px 15px;
    border-radius: 20px;
    cursor:pointer;
    
}
.shop-btn a{
    text-decoration: none;
    text-decoration-style: none;
    color: none;
}
.shop-btn:hover{
    background-color: rgba(146, 145, 145, 0.7);
    color:#ffffff;
    border-color:#BBBBBB;
}
.shop-btn .cat-link{
    color: rgb(29, 28, 28);
    text-decoration: none;  
}
.footer{
    color: rgb(206,200,199);
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}