body{
font-family:Arial, sans-serif;
}
.img-container{
    height: 50px;
}
.header{
    height:auto;
    padding:1%;
}
.img-wrapper{
    text-align: center;
    width:100%;
    height: auto;
    object-fit: contain;
}
#container{
    display: inline-grid;
    object-fit: contain;
    height: auto;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
}