@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}


.img-container{
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.img-wrapper{
    text-align: center;
    width:100%;
    height: auto;
    object-fit: contain;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    background-color: #141414ce;        
}
.nav{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(255,255,255);
}
.navbar .nav-link{
    color: rgb(192, 188, 188);
    text-decoration: none;  
}
.navbar a:hover{
    color:rgb(139, 139, 139);
}
.navbar ul{
    padding: 10px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
.navbar li{
    list-style-type:none;
    text-align: center;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
}
/*Test*/
.main-title{
    height: 50pxpx;
    text-align: center;
    background-color: #EC8E7C;
    color: rgb(70, 69, 69);
    
}

#body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EEAFA3;
}

.cont{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


/*styles for product card*/
.prod .prod-card{
    z-index: 1;
    background:#ff876f96;
    position: relative;
    width: 500px;
    height:650px;
    margin:40px;
    border-radius: 10px;
    flex-direction: column;
}

.prod .prod-card:before{
    content: '';
    background: rgba(255,255,255,0.5);
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prod .prod-card .product-img{
    z-index: 1;
    position:absolute;
    max-width: 475px;
    max-height: 800px;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}

.prod .prod-card .name{
    z-index: 2;
    color:rgb(68, 67, 67);
    position: absolute;
    width:100%;
    text-align: center;
    bottom: 200px;
    font-size: 20px;
    letter-spacing: 1px;
}

.prod .prod-card .price{
    z-index: 2;
    color:rgb(68, 67, 67);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 150px;
    font-size: 30px;
    font-weight: 300;

}

.prod .prod-card .popup-btn{
    z-index: 2;
    color:rgb(68, 67, 67);
    background:#fff;
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding:10px 15px;
    border-radius: 20px;
    cursor:pointer;
}
.prod .prod-card .popup-btn:hover{
    color: rgb(29, 28, 28);
    text-decoration: none;
    background-color: rgb(212, 212, 212);
}

/*Style for popup view*/

.prod .popup-view{
    z-index: 2;
    background:rgba(155, 155, 155, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility: hidden;
    transition: 200ms ease-in-out;
}

.prod .popup-view.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.prod .popup-card{
    position: relative;
    display: flex;
    width: 1500px;
    height: 700px;
    margin:10px;
    padding: 40px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prod .popup-card .product-img{
    z-index: 2;
    background:#1D212B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prod .popup-card .product-img img{
    z-index: 2;
    position: relative;
    width:750px;
}

.prod .popup-card .info{
    z-index: 2;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    transform: translateY(0px);
    transform: translateX(0px);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.prod .popup-card .close-btn{
    color:#555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.prod .popup-card .info h2{
    font: size 40px;
    line-height: 20px;
    margin: 10px;
}

.prod .popup-card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.prod .popup-card .info p{
    font-size: 15px;
    margin: 10px;
}

.prod .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
.prod .popup-card .info .buy-btn{
    color:#fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}

.prod .popup-card .info .buy-btn:hover{
    background-color: #00779F;
}
/*Responsive styles*/

@media (max-width:1000px){
    .prod .popup-card{
        flex-direction:column;
        width: 550px;
        height: auto;
    }
    .prod .popup-card .product-img{
        z-index: 3;
        width: 90%;
        height: 400px;
        transform: translateY(0);
        border-bottom-left-radius:0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .prod .popup-card .product-img img{
        left: initial;
        max-width: 100%;
    }
    .prod .popup-card .info{
        width: 90%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        /*transform: translateY(0);*/
    }
    .prod .popup-card .info h2{
        margin:20px 5px 5px 5px;
        font-size: 25px;
    }
    .prod .popup-card .info h2 span{
        font-size: 10px;
    }
    .prod .popup-card .info p{
        margin: 5px;
        font-size: 13px;
    }
    .prod .popup-card .info .price{
        margin: 5px;
        font-size: 30px;
    }
    .prod .popup-card .info .buy-btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }
    .prod .popup-card .close-btn{
        z-index: 4;
    }
}
